<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" 
            (click)="currentTab = 'tab-pokemons'"
            [ngClass]="{ 'active' : this.currentTab === 'tab-pokemons'}" 
            href="#">
                Pokemons
        </a>
    </li>
    <li class="nav-item">
        <a 
            (click)="currentTab = 'tab-favorites'"
            [ngClass]="{ 'active' : this.currentTab === 'tab-pokemons'}" 
            class="nav-link" 
            href="#">
                Favorites
        </a>
    </li>
</ul>